.work-sans-sand {
  font-family: "quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;

}
.nav1{
    display: flex;
}
#scl{margin-left: 8px;}

.nav-link1{
   text-decoration: none;
   margin-right: 20px;
   font-weight: 700;
   color: rgb(254, 163, 1);
}
.nav-link2{
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
    color: rgb(1, 172, 253);
 }
 .nav-link3{
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
    color: rgb(5, 212, 223);
 }
 .nav-link4{
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
    color: rgb(93, 88, 239);
 }
.nav-btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 10px;
    width: 130px;
    border: none;
    color: white;
}

.kid{
    margin: 12px 90px 12px 90px;
    display: flex;
    flex-direction: row-reverse;
}
#kid-paragraph{
    
    margin-top: 40px;
    margin-left: 15px;
}
.empow{
    font-size: 2.5rem;   
}
#kid-img{
    width: 400px;
}
#kid-hclr{
     color: hsla(38,99%,51%,1);
}

#kid-hclr2{
    color: rgb(1, 172, 253); ;
}
.kid-btn{
    border-radius: 8px;
    background:  rgb(17, 17, 17);;
    padding: 10px;
    width: 130px;
    border: none;
    color: white;
}

.section1{
    background-image: url(/assets/bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#card{
    display: flex;
    gap: 20px;
    margin: 50px 100px 50px 100px;
}
#card1{
    padding:40px 30px;
   text-align: center;
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#card2{
    padding:40px 30px;
   text-align: center;
   box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#card3{
    padding:40px 30px;
   text-align: center;
   box-sizing: border-box;
   border: 0.94px solid rgb(242, 232, 255);
   border-radius: 18.86px;
   
   box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
   background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#c-btn1{
    color: rgb(100, 200, 255) ;
    border: none;
background-color: transparent;
}
#c-btn2{
    color: rgb(240, 170, 0) ;
    border: none;
background-color: transparent;
}
#c-btn3{
    color: rgb(135, 0, 255) ;
    border: none;
background-color: transparent;
}
.np-btn{
    color: white;
    border: none ; 
    background: rgb(254, 163, 1);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 900;
}
.np-btn{
    margin-bottom: 15px;
}
.va-btn{
    margin-bottom: 70px;
}
.section2{
    background-image:;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background:   url(/assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}


.cont{
    display: flex;
    gap: 12px;

    margin: 80px 94px 80px 94px;
}
.square-clg{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    /* margin-right: 15px; */
}
.exmpl1{
    /* margin-left: 15px; */
    border-radius: 12px;
    background: rgb(255, 255, 255);
    width: 540px;
    height: 630px;

}
.img1{
    width: 100%;
    height: 50%;
    border-radius: 12px 12px 0px 0px;
}
.exmpl1 > h3{
    margin: 40px;
}
.exmpl1 > p{
    margin: 40px;
    font-weight: 500;
    font-size: 13px;
}
/* .exmpl1 > button{
    position:;
    margin-top: -10px;
} */

.exmpl2{
    border-radius: 12px;
    background: rgb(255, 255, 255);
    width: 290px;
    height: 302px;
}
.exmpl2-img{
    width: 100%;
    height: 55%;
    border-radius: 12px 12px 0px 0px;
}
.exmpl2-h{
    margin: 30px;
}
.exmpl2>button{
    margin-left: 55px;
    border-radius: 35px;
    background: rgb(149, 178, 38);
    border: none;
    color: white;
    padding: 5px 5px;
    height: 30px;
    position: absolute;
    margin-top: 150px;
}
#blue-btn{
    background: rgb(93, 88, 240);
}

#footer{
    background: rgb(1, 172, 253);
    display: flex;
    justify-content: space-between;
}
.logo-kid{
    display: flex;
}
.logo-kid>img{
    width: 100px;
    height: 100%;
}
.logo-kid>h1{
    color: white;
}
.ankor{
    display: flex;
    flex-direction: column;
    margin: 100px 80px; 
}
.ankor>div>p{
    color: white;
    width: 300px;
    margin-top: 40px;
}
.ankor1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 130px;
}
.ankor1>div>a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
#weight{
    font-weight: 700;
}
.ankor2{
    margin: 100px;
}
.ankor2>h2{
    color: white;
}